.grow { width: 100%; }


.legend-label { 
      border-style: none; 
      border-color: Transparent; 
      overflow: auto;        
      resize: none;
}
.legend-label:hover { 
      border-style: solid; 
      border-color: gray; 
      overflow: auto;        
      resize: both;
}

.center {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.shiny-input-container {
    width: 800px;
}

.legend-div {
    padding-top: 40px;
}
.legend-ul {
    margin: -5px;
    list-style-type: none;
}

.legend-input-color {
    position: relative;
}
.legend-input-color textarea {
    padding-left: 20px;
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}


.legend-input-color textarea:focus {
    outline: 2px;
}


.legend-input-color .legend-color-box {
    width: 14px;
    height: 14px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 0px;
    top: 6px;
}

#radarchart {
 width: 800px;
 height: 800px !important;
 position:relative;
}

.radarchart-zodiac {
 background-image: url('hallmarks.svg');
 background-repeat: no-repeat;
 background-size: 800px 800px;
}

.radarchart-nozodiac {
 background-image: none;
}

.radar-chart .levelFactor {
  display: none;
}

.radar-chart .level {
  stroke: grey;
  stroke-width: 0.5;
}


.radar-chart .axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}
.radar-chart .axis .legend {
  font-family: sans-serif;
  font-size: 18px;
}
.radar-chart .axis .legend.top {
  dy:1em;
}
.radar-chart .axis .legend.left {
  text-anchor: start;
}
.radar-chart .axis .legend.middle {
  text-anchor: middle;
}
.radar-chart .axis .legend.right {
  text-anchor: end;
}

.radar-chart .tooltip {
  font-family: sans-serif;
  font-size: 13px;
  transition: opacity 200ms;
  opacity: 0;
}
.radar-chart .tooltip.visible {
  opacity: 1;
}

/* area transition when hovering */
.radar-chart .area {
  stroke-width: 2;
  fill-opacity: 0.5;
}
.radar-chart.focus .area {
  fill-opacity: 0.1;
}
.radar-chart.focus .area.focused {
  fill-opacity: 0.7;
}

.radar-chart .circle {
  fill-opacity: 0.9;
}

/* transitions */
.radar-chart .area, .radar-chart .circle {
  transition: opacity 300ms, fill-opacity 200ms;
  opacity: 1;
}
.radar-chart .d3-enter, .radar-chart .d3-exit {
  opacity: 0;
}

/* from radar example */


body {
  padding: 20px;
}
.radar-chart .area {
  fill-opacity: 0.07;
}
.radar-chart.focus .area {
  fill-opacity: 0.03;
}
.radar-chart.focus .area.focused {
  fill-opacity: 0.09;
}
.area.germany, .germany .circle {
  fill: #FFD700;
  stroke: none;
}
.area.argentina, .argentina .circle {
  fill: #ADD8E6;
  stroke: none;
}
/* from upload example */
table { font-size: 10px; border-collapse: collapse; }
table th { border: 1px solid #aaa; }
table td { border: 1px solid #d0d0d0; }
.number { color: #09c; }
.mixed { color: #c90; }
.string { color: #90c; }
.time { color: #2c0; }
.boolean { color: #0b6; }

